.feed-post{
  display: flex;
  border: 1px solid black;
  width: 70%;
  height: 30%;
}

.start-post{
  width: 60%;
  border-right: 1px solid black;
}

.post-picture{
  width: 20%;
  border-right: 1px solid black;
}

.post-video{
  width: 20%;
}
