<div class="find-friends">
  <div class="header">
    <h4>Find a buddy</h4>
  </div>
  <div class="new-request">
    <p>Make a request</p>
    <input type="text" name="" value="" placeholder="What kind of buddy are you looking for?">
  </div>
  <div class="pending-requests">
    <h5>Members looking for a buddy</h5>
    <div class="request">
      <p>Jason: is looking for a gym buddy!</p>
    </div>
    <div class="request">
      <p>Georgia: is looking for a running buddy</p>
    </div>
    <div class="request">
      <p>Paul: is looking for a writing buddy</p>
    </div>
  </div>
</div>
