<div class="nav-bar-main">
  <div class="nav-bar-left">
    <div class="nav-bar-left-left">
      <img src="/assets/images/google.png" alt="">
      <input type="text" name="" value="" id="nav-bar-search" placeholder="search">
    </div>
    <div class="nav-bar-left-right">
      <i class="fas fa-home"></i>
      <i class="fas fa-server"></i>
      <i class="fas fa-inbox"></i>
    </div>
  </div>
  <div class="nav-bar-right">
    <img class="nav-bar-picture" src="/assets/images/profile-picture.jpg" alt="">
  </div>
</div>
