<div class="nav-bar-main">
  <div class="nav-bar-left">
    <div class="nav-bar-left-left">
      <img src="/assets/images/google.png" alt="">
      <input type="text" name="" value="" id="nav-bar-search" placeholder="search">
    </div>
    <div class="nav-bar-left-right">
      <img src="/assets/images/google.png" alt="">
      <img src="/assets/images/google.png" alt="">
      <img src="/assets/images/google.png" alt="">
    </div>
  </div>
  <div class="nav-bar-right">
    <img src="/assets/images/google.png" alt="">
    <img src="/assets/images/google.png" alt="">
  </div>
</div>
