.profile-tile{
  display: flex;
  flex-direction: column;
  width: 200%;
  height: 100%;
  border: solid black 1px;
}

.tile-top{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 2%;
  border: solid black 1px;
}

#profile-picture{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid gray;
  margin: 2% auto 0 auto;
}

.tile-mid{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 2%;
  text-align: center;
  border: solid black 1px;
}

.tile-bottom{
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 2%;
  border: solid black 1px;
  color: #4189fc;
  font-weight: bold;

}
