<div class="public-posts">
  <div class="post-top">
    <h3>Georgia</h3>
    <p>10 mins ago</p>
  </div>
  <div class="post-content">
    <h5>Today my goalBuddy Jack and I both went for three miles runs!</h5>
  </div>
  <div class="post-foot">
    <span>like </span><span>comment </span><span>share</span>
  </div>
</div>
<div class="public-posts">
  <div class="post-top">
    <h3>Georgia</h3>
    <p>10 mins ago</p>
  </div>
  <div class="post-content">
    <h5>Today my goalBuddy Jack and I both went for three miles runs!</h5>
  </div>
  <div class="post-foot">
    <span>like </span><span>comment </span><span>share</span>
  </div>
</div>
