.live-feed{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  width: 70%;
}

.post{
  text-align: center;
  padding: auto;
}
