.public-posts{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  height: 400px;
  width: 70%;
}

.post-top{
  margin-left: 25px;
}

.post-content{
  font-size: 1.5em;
  text-align: center;
}

.post-foot{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
